extends ../shared/template

block header
  h1= artist.name

block content

  table
      thead
          th Album
          th Cover
      tbody
          each album in artist
              tr
                  td= album.name
                  td: img(src="/img/albums/#{album._id}/#{album.photo}")
